
    body {
        background-color: #b5d7e2;
        height: 100%;
        margin: 0; 
        padding: 0; 
        font-family: Roboto,sans-serif;
        box-sizing: border-box
      }

    .buscador {
        width: 200%;
        padding: 20px;      
        box-sizing: border-box;
       
    }

    .separacion{
        margin-right: 12px;
    }
    
    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 600px) {
        body {
              
            
          
          /* Estilos específicos para pantallas pequeñas */
        }
      
        /* Otros estilos específicos para pantallas pequeñas */
      }
      
      /* Estilos para pantallas medianas y grandes */
      @media (min-width: 601px) {
        body {
          /* Estilos específicos para pantallas medianas y grandes */
        }
      
        /* Otros estilos específicos para pantallas medianas y grandes */
      }
      
      
      
      
      
      