:root {
    --amarelo: rgb(247, 228, 172); 
    --app-grey: #F2F2F2;
    --azul: rgb(91, 91, 229);
    --azul-hover: rgb(40, 40, 197);
    --azul-fran: rgb(102, 138, 255);
    --button-favs: rgba(0, 0, 0, 0.116);
    --celeste: rgba(0, 212, 255, 0.75);
    --error: rgb(255, 0, 0);
    --exito: rgb(0, 147, 57);
    --fuentes-hover: rgb(136, 136, 136);
    --grey: rgb(242, 243, 248);
    --grey-button: 	rgb(115, 147, 179);
    --grey-layer: rgb(224, 224, 224);
    --laranja: rgb(84, 31, 23);
    --lila: #8a6df1ff;
    --negro: #000000;
    --oscuro: #1c1c1f;
    --pastel: rgb(192, 179, 204);
    --rosa: rgb(181, 155, 176);
    --salmon:rgb(248, 157, 147);
    --salmon-fume:rgb(252, 84, 66);
    --semi-oscuro: #8c8c8e;
    --theme-dark: rgb(45, 41, 41);
    --theme-white: rgb(255, 255, 255);
    --verde: rgb(54, 225, 157);
    --verde-fran: rgb(177, 214, 188);
    --verde-hover: rgb(161, 177, 73);
    --verde-fuentes: rgb(24, 106, 59);
    --blanco:  rgb(255, 255, 255);
    } 

nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 25%;
    z-index: 1;
    background-color: var(--blanco);
    justify-content: space-around;
}

.lema {
    display: flex;
    width: 25%;
    font-size: 1em;
    color: var(--app-grey);
    align-items: center;
    justify-content:center;
    text-align:center;
    padding: 20px;
}

.logo {
    width: 30%;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0px 20px 0px 0px ;
}

.lema:hover {
    border: 2px solid var(--grey-button);
  }

.nav-ul {
    display: flex;
    width: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

li {
    display:inline-flex;
    padding: 2rem;
    list-style: none;
    font-size: 25px;
}

button {
    color: var(--app-grey);
    font-size: 1.5rem;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--oscuro);
    margin: 5rem 0px 5rem 0px; 
    box-shadow: var(--celeste) 0px 0px 4px, var(--azul) 0px 4px 31px;
    border: 1px solid var(--azul-fran);
}

button:hover {
    border: 3px solid var(--azul-hover);  
}

.btn-cta {
    color: var(--blanco);
}

.theme {
    width: 70px;
}

@media (max-width: 600px) {
    Header {
        height: 70px;
    }
    nav {
        
        flex-direction: column;
    }

    .logo {
        width: 50%;
        border-radius: 5px;
        align-self: center;
        text-align: center;
        justify-content: center;
        padding: 0px 10px 0px 0px;
        order: 1;
     
    }

    .lema {
        order: 2;
        align-self: center;
        width: 80%;
        font-size: 0.8em;
      }

}

